// src/styles/main.scss

// Bootstrap
@import "./bootstrap/bootstrap";

// Base styles (varijable, mixini)
@import "./base/variables";
@import "./base/mixins";

// Komponente
@import "./components/navbar";

// Layout
@import "./layout/style";